<div class="container-fluid" style="background-color: #ecf0f1;">
    <div class="row">
        <!-- Header -->
        <div class="col-md-12">
            <app-header></app-header>
            

        </div>
    </div>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2"style="background-color:#ecf0f1;" style="padding-top: 15px;">
            <app-sidebar></app-sidebar>
        </div>
        <!-- Main Content -->
        <div class="col-md-10">
            <!-- <app-baner></app-baner> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>